.signup_form {
  width: 400px;
  text-align: left;
  margin: auto;
  padding: 20px;
  position: relative;
  top: 30px;
  border: 1px solid #c1c1c1;
}
.signup_heading {
  text-align: center;
}
.errormsg {
  color: red;
  font-weight: 600;
}
